*.rbc
capybara-*.html
.project
.rspec
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb
config/secrets.yml
config/database.yml
config/merritt.yml

test/fixtures/user_credentials.yml
spec/features/credentials.rb
spec/support/features/credentials.rb
spec/support/features/credentials.yml

## Environment normalisation:
/.bundle
/vendor/bundle


# Gemfile.lock, .ruby-gemset

.ruby-version
#.ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

.sass-cache/
uploads/
test_uploads/
.idea
config.codekit
commands  
*.DS_Store
