<%= f.hidden_field "_destroy", class: 'destroyer' %>
<div class = 'fields'>
  <%= f.text_area :citationName, :rows => 6, :cols => 60, :placeholder => "Link or identifier"%>
  <div class="remove_citation_field">
    <%= link_to(content_tag(:span, "", :class => "icon remove")+ 'Remove', '#', :class => "red remove_fields") %>
  </div>
</div>

<script>
   $('.remove_citation_field').first().hide();
</script>






