<div id="steps-container">
  <div id="step-one" >
    <div class="step-sm-off">STEP ONE:</div>
    <div class="bold-title-off">Prepare</div>
  </div>
  <div id="step-two" >
    <div class="step-sm-on">STEP TWO:</div>
    <div class="bold-title-on">Describe</div>
  </div>
  <div id="step-three" >
    <div class="step-sm-off">STEP THREE:</div>
    <div class="bold-title-off">Upload</div>
  </div>
  <div id="step-four" >
    <div class="step-sm-off">STEP FOUR:</div>
    <div class="bold-title-off">Review & Submit</div>
  </div>
</div>