<label for="geoLocationPoint">
  Points
  <a href="#data_geoLocationPoint_help" name="help_link" class="help_link">
    <img src="/images/help-icon.jpg" alt="Click for additional help" title="Click for additional help"/>
  </a>
</label>

<fieldset class="geoLocationPoint">
  <div id="geoLocationPoint" style="display: none">
    <%= link_to_add_fields '+Geographic Point', f, :geoLocationPoints %>
  </div>
</fieldset>
