<%= f.hidden_field "_destroy", class: 'destroyer' %>
<div class="fields">
  <div style="clear:both; margin-left:22px; width:280px;">
    <%= f.text_field :subjectName, :size=>"20", :placeholder => "Keyword" %>
  </div>
  <div class="remove_subject_field"   >
      <%= link_to(content_tag(:span, "", :class => "icon remove")+ 'Remove', '#', :class => "red remove_fields") %>
  </div>

  </div>
 </div>
<script>



    $('.remove_subject_field').first().hide();

       var count = [$('.remove_subject_field ').size()];

         //count[1].hide();

       if (count == 3) {

           $('.remove_subject_field ').hide();

       }



                // var count = $("#remove_subject_field > a").size()
                //var t = count - 3
                //  var t = count
                //if (t <= 3 ){
                //document.write('its same')
                //    $("#remove_subject_field a").hide()
                // }
                //   else if (t > 3 ){

                // t - 3;
                // event.preventDefault
                // }

                //else {

                //   $("#remove_subject_field a").hide()
                //}


</script>
