<table class="table-container">
	<tbody>
		<% @record.subjects.each do |subject| %>
		  <tr>
			<td aria-labelledby="keyword-group"><%= subject.subjectName %></td>
			<td>
				<%= link_to "delete", "/delete_subject/#{@record.id}/#{subject.id}", 'aria-label' => 'delete this keyword', :remote => true%>
			</td>
		  </tr>
		<% end %>
	</tbody>
</table>