<%= f.hidden_field "_destroy", class: 'destroyer' %>
<div class="fields">
  <div style="clear:both; margin-left:22px; width:280px;">
    <%= f.text_field :subjectName, :size=>"20", :placeholder => "Keyword" %>
  </div>
  <div id ="remove_subject_field">
      <%= link_to(content_tag(:span, "", :class => "icon remove")+ 'Remove', '#', :class => "red remove_fields") %>
  </div>

  </div>
 </div>
<script>

    $(document).ready(function(){
        $(window).load(function(){
            $('#remove_subject_field').remove();

        });




    })
</script>
