<%= f.hidden_field "_destroy", class: 'destroyer' %>
<div class="fields">
  <%= f.text_field :subjectName, :size=>"20", :class=>"input-text", :placeholder => "Keyword", 'aria-required' => 'true' %>


  <div class="remove_subject_field">
    <%= link_to(content_tag(:span, "", :class => "icon remove")+ 'Remove', '#', :class => "red remove_fields") %>
  </div>
</div>
<script>

  $('.remove_subject_field').first().hide();

  var count = $('.remove_subject_field').size();

  if (count == 3) {

      $('.remove_subject_field').hide();

  }

  /*
  $(document).ready(function (event) {
    $(window).load(function () {

      var count = $("#remove_subject_field > a").size()
      var t = count - 3
      if (t == 0) {
        //document.write('its same')
        $("#remove_subject_field a").hide()
      }
      else if (t >= 0) {
        event.preventDefault
      }

      else {

        $("#remove_subject_field a").hide()
      }

      //$('#remove_subject_field').size())

      // if (count_var < 3) {

      //$('#remove_subject_field').select();
      //$this.hide
      //})

    });
  });
  */

</script>
