<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>Data Use Agreement: DataShare - Open data for the global research community</title>
<%= render 'layouts/head' %>
</head>
<body>
<!-- begin page id -->
<div id="prepare-to-submit-page"> 
<!-- begin outer container -->  
  <div id="outer-container"> 
    <!-- begin inner container -->
    <div id="inner-container"> 
       <!-- begin header -->
		<%= render 'layouts/header' %>
	  <!-- end header -->
		<!-- begin navigation-->
			<%= render 'layouts/navigation' %>
		<!--end navigation-->
		
		<!-- begin content -->
		<div id="content"> 	
			<div class="single-column">
				<h1>DataShare Data Use Agreement</h1>
				<div class="text-container">
					As part of this agreement, Consumer submits to the following statements: 1) I will receive access to de-identified data and will not attempt to establish the identity of any of the study subjects. 2) I will share these data only with my immediate co-workers, and I will not transfer these data to other research groups. I understand that these data are available to other research groups through the process by which I obtain them. 3) I will require anyone in my group who utilizes these data, or anyone with whom I share these data to comply with this data use agreement. 4) I will accurately provide the requested information for persons who will use these data and the analyses that are planned using these data. 5) I will comply with any rules and regulations imposed by my institution and its institutional review board in requesting these data. 6) I understand that approved usage of these data does not entitle Consumer to any rights, title, or interest in the shared data. 7) I understand that Provider has the right to terminate this Agreement at any time for any reason. 8) I will ensure that Investigators who utilize these data will use appropriate administrative, physical and technical safeguards to prevent use or disclosure of the data other than as provided for by this Agreement. 9) I will report any use or disclosure of the data not provided for by this Agreement of which I become aware within 15 days of becoming aware of such use or disclosure. 10) I will, upon completion of my usage of these data, submit a brief usage report describing how the data were used and citing any abstracts, talks, or publications that resulted. This will be done within one year of data usage completion, or within 6 months of acceptance of any resulting abstracts, talks, or publications. I understand that failure to abide by these guidelines will result in termination of my privileges to access any further data.
				</div>
			</div>
		</div> <!-- end content-->
	<!-- begin footer-->
		<%= render 'layouts/footer' %>	<!-- end footer-->
	</div> <!-- end inner container -->
  </div> <!-- end outer container -->
</div>
</body>
</html>