<!-- begin content -->
<div id="content"> 	
	<div class="single-column">
		<div class="text-container">
			<table width="641">
			  <tr>
			    <td width="157" valign="top"><p align="center"><strong>Metadata Fieldname</strong></p></td>
			    <td width="484" valign="top"><p align="center"><strong>Description</strong></p></td>
		      </tr>
			  <tr>
			    <td width="157" valign="top">Dataset Title*</td>
			    <td width="484" valign="top">Title of the data resource</td>
		      </tr>
			  <tr>
			    <td width="157" valign="top">Data Creator(s)*</td>
			    <td width="484" valign="top">Main researcher(s) involved in producing the data,    or the authors of the publication, in priority order. (Last Name, First Name)</td>
		      </tr>
			  <tr>
			    <td width="157" valign="top">Abstract*</td>
			    <td width="484" valign="top">An abstract or general description of the data    resource </td>
		      </tr>
			  <tr>
			    <td width="157" valign="top">Institution</td>
			    <td width="484" valign="top">Name of the institution that supported creation of    the resource (DataShare currently pre-populates this field)</td>
		      </tr>
			  <tr>
			    <td width="157" valign="top">Publication Year</td>
			    <td width="484" valign="top">Date the data resource was shared <br />
			      (DataShare currently pre-populates this field)</td>
		      </tr>
			  <tr>
			    <td width="157" valign="top">Methods</td>
			    <td width="484" valign="top">Any technical or methodological info that helps to    understand how the data were generated and/or how they may be properly    re-used</td>
		      </tr>
			  <tr>
			    <td width="157" valign="top">Keyword(s)</td>
			    <td width="484" valign="top">Any keywords that help identify data domain(s)    (DataShare <strong>highly recommends </strong>using    a controlled vocabulary, such as <a href="http://www.ncbi.nlm.nih.gov/mesh">MeSH</a>) </td>
		      </tr>
			  <tr>
			    <td width="157" valign="top">Citation(s)</td>
			    <td width="484" valign="top">This field may be used to indicate the existence of    any other resources that are associated with the data, for example    publications or grant numbers (All formats are acceptable, however for    publications an identifier is preferred e.g. PMID or DOI)</td>
		      </tr>
		  </table>
			<p class="secondary-para">* Required for submission</p>
			
		</div>
	</div>
</div> <!-- end content-->