<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>Preparing to submit: DataShare - Open data for the global research community</title>
<%= render 'layouts/head' %>
</head>
<body>
<!-- begin page id -->
<div id="prepare-to-submit-page"> 
<!-- begin outer container -->  
  <div id="outer-container"> 
    <!-- begin inner container -->
    <div id="inner-container"> 
       <!-- begin header -->
		<%= render 'layouts/header' %>
	  <!-- end header -->
		<!-- begin navigation-->
			<%= render 'layouts/navigation' %>
		<!--end navigation-->
		
		<!-- begin content -->
		<div id="content"> 	
			<div class="single-column">
				<h1>Preparing to submit</h1>
				<div class="text-container">
					<ul>
						<li>Ensure permission is granted from the appropriate PI(s)</li>
						<li>Ensure data files are the most up-to-date and complete versions</li>
						<li>Ensure that all data relating to human subjects has been properly de-identified</li>
						<li>Collect as much descriptive metadata as possible <a href="/metadata_basics">(more info here)</a></li>
						<li>Ensure that any information critical to the proper viewing and/or usage of the data is included in the submission (either as a separate 'Readme' file or within the 'Technical Description' metadata field)</li>
					</ul>
				</div>
			</div>
		</div> <!-- end content-->
	<!-- begin footer-->
		<%= render 'layouts/footer' %>	<!-- end footer-->
	</div> <!-- end inner container -->
  </div> <!-- end outer container -->
</div>
</body>
</html>