<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>Terms of Use: DataShare - Open data for the global research community</title>
<%= render 'layouts/head' %>
</head>
<body>
<!-- begin page id -->
<div id="terms-of-use"> 
<!-- begin outer container -->  
  <div id="outer-container"> 
    <!-- begin inner container -->
    <div id="inner-container"> 
       <!-- begin header -->
		<%= render 'layouts/header' %>
	  <!-- end header -->
		<!-- begin navigation-->
			<%= render 'layouts/navigation' %>
		<!--end navigation-->
		
		<!-- begin content -->
		<div id="content"> 	
			<div id="terms-content">
				<h1>Terms of Use</h1>
				<div class="text-container">
				<p>
					DataShare encourages the use of this site, regardless of domain address, as a way to share information and knowledge in support of the University's three-part mission of education, research and public service. This site is owned by The Regents of the University of California and operated by the DataShare project group. Site content is subject to change without notice. While most parts of this site are publicly accessible, certain services and information offered online may be restricted to specific users or segments of the University of California population.
				</p>
				<p class="secondary-para">
					DataShare collects information to improve functionality and content and to monitor performance. Data is used to help answer specific questions about the usage and performance of the web site or individual web pages. At no time is site usage associated with individual IP addresses.
				</p>
				</div>
			</div>
		</div> <!-- end content-->
		<div id="triangle-container">
			<div id="triangle"></div>
		</div>
	<!-- begin footer-->
		<%= render 'layouts/footer' %>
	<!-- end footer-->
	</div> <!-- end inner container -->
  </div> <!-- end outer container -->
</div>
</body>
</html>