<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>Describe your dataset: DataShare - Open data for the global research community</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/styles.css" type="text/css" />
<!--[if IE 7]>
	<link rel="stylesheet" href="css/styles_ie7.css" type="text/css" />
<![endif]-->
<!--[if IE 8]>
	<link rel="stylesheet" href="css/styles_ie8.css" type="text/css" />
<![endif]-->
<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<meta name="description" content="" />
<meta name="keywords" content="" />
</head>

<body>
<!-- begin page id -->
<div id="step-two-describe-page"> 
<!-- begin outer container -->  
  <div id="outer-container"> 
    <!-- begin inner container -->
    <div id="inner-container"> 
       <!-- begin header -->
		<div id="header">
	<div id="logo"> <a href="index.html"> <img src="images/datashare-logo3.gif" width="320" height="63" alt="DataShare: Open data for the global research community" title="DataShare: Open data for the global research community" /> </a> </div>
	<div id="logout">
	<div class="logout-text">Logged in as <i>Username</i></div>
	<a href="#"> <img src="images/logout.gif" width="92" height="21" alt="Logout"/></a> 
	</div>
</div> 
	  <!-- end header -->
		<!-- begin navigation-->
			<div id="nav-home-menu">
  <div id="about-nav" class="menu"><a href="about.html">About</a></div>
  <div id="search-nav" class="menu"><a href="#">Search Data</a></div>
  <div id="publish-nav" class="menu"><a href="steps_to_publish.html">Publish Data</a></div>
  <div id="my-datasets-nav" class="menu"><a href="my_datasets.html">My Datasets</a></div>
</div> 
		<!--end navigation-->
		
		<!-- begin content -->
		<div id="content"> 
			<div id="steps-container">
				<div id="step-one" >
					<div class="step-sm-off">STEP ONE:</div>
					<div class="bold-title-off">Prepare</div>
				</div>
				<div id="step-two" >
					<div class="step-sm-on">STEP TWO:</div>
					<div class="bold-title-on">Describe</div>
				</div>
				<div id="step-three" >
					<div class="step-sm-off">STEP THREE:</div>
					<div class="bold-title-off">Upload</div>
				</div>
				<div id="step-four" >
					<div class="step-sm-off">STEP FOUR:</div>
					<div class="bold-title-off">Review</div>
				</div>
			</div>	
			
			<div class="single-column">
			
			<h1>Describe your dataset</h1>
			<div class="text-container">
				<div class="user-id">User ID </div><div id="current-user-id">12314</div>
				<form accept-charset="UTF-8" action="/update_record/10" enctype="multipart/form-data" method="post"><input name="utf8" value="?" type="hidden"/><input name="authenticity_token" value="yL+LCoRcYuzKYuFeO9NA5DRfcQHg4LEHLvL/Auc8Gsw=" type="hidden"/>

				<div class="local-id">Local ID</div><div id="current-local-id">mtdcgltwlg</div>
				<div class="clear"></div>
				<div class="fieldset">
					<label for="title">Title</label><textarea cols="60" id="title" name="title" rows="6"></textarea>
					<label for="publisher">Publisher</label><input class="input-text" id="publisher" name="publisher" size="20" type="text"/><br/>
					<label for="publicationyear">Publication Year</label><input class="input-text" id="publicationyear" name="publicationyear" size="20" type="text"/> <br/>
					<label for="resourcetype">Resource Type</label><input class="input-text" id="resourcetype" name="resourcetype" size="20" type="text"/><br/>
					<label for="rights">Rights</label><input class="input-text" id="rights" name="rights" size="20" type="text"/><br/>
					<input class="input-button" name="commit" value="Save Record" type="image" src="images/save-record-button.png" alt="Save Record"/><br/>		
					<table class="table-container">
						<tbody>
							<tr>			
								<td class="italic">Record1</td>
								<td><a href="http://localhost:3000/delete_creator/66/2">delete</a></td>
							</tr>
							<tr>
								<td class="italic">Record2</td>
								<td><a href="http://localhost:3000/delete_creator/66/3">delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="fieldset">
					<label for="creator_name">Creator</label><input class="input-text" id="creator_name" name="creator_name" size="20" type="text"/>
					<input class="input-button" name="commit" value="Add Creator" type="image" src="images/add-creator-button.png" alt="Add Creator"/>
					<table class="table-container">
						<tbody>
							<tr>			
								<td class="italic">creator1</td>
								<td><a href="http://localhost:3000/delete_creator/66/2">delete</a></td>
							</tr>
							<tr>
								<td class="italic">creator2</td>
								<td><a href="http://localhost:3000/delete_creator/66/3">delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="fieldset">
					<label for="subject_name">Subject Name</label><input class="input-text" id="subject_name" name="subject_name" size="20" type="text"/>
					<input class="input-button" name="commit" value="Add Subject" type="image" src="images/add-subject-button.png" alt="Add Subject"/>
					<table class="table-container">
						<tbody>
							<tr>			
								<td class="italic">Subject1</td>
								<td><a href="http://localhost:3000/delete_creator/66/2">delete</a></td>
							</tr>
							<tr>
								<td class="italic">Subject2</td>
								<td><a href="http://localhost:3000/delete_creator/66/3">delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="fieldset">
					<label for="contributor_name">Contributor Name</label><input class="input-text" id="contributor_name" name="contributor_name" size="20" type="text"/>
					<input id="contributor_type" name="contributor_type" size="20" value="HostingInstitution" type="hidden"/>
					<input class="input-button" name="commit" value="Add Contributor" type="image" src="images/add-contributor-button.png" alt="Add Contributor"/>
					<table class="table-container">
						<tbody>
							<tr>			
								<td class="italic">Contributor1</td>
								<td><a href="http://localhost:3000/delete_creator/66/2">delete</a></td>
							</tr>
							<tr>
								<td class="italic">Contributor2</td>
								<td><a href="http://localhost:3000/delete_creator/66/3">delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="fieldset">
					<label for="description_type">Description Type</label><select id="description_type" name="description_type"><option selected="selected">Abstract</option><option value="Other">Technical</option></select>
					<label for="description_text">Description Text</label><textarea cols="60" id="description_text" name="description_text" rows="6"></textarea>
					<input class="input-button" name="commit" value="Add Description" type="image" src="images/add-description-button.png" alt="Add Description"/>
					<table class="table-container">
						<tbody>
							<tr>			
								<td valign="top" class="italic">Abstract</td>
								<td class="italic" align="left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
								<td valign="top"><a href="http://localhost:3000/delete_creator/66/2">delete</a></td>
							</tr>
							<tr>
								<td valign="top" class="italic">Technical</td>
								<td class="italic" align="left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
								<td valign="top"><a href="http://localhost:3000/delete_creator/66/3">delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="fieldset">
					<label for="relation_relationText">Relation Text</label><textarea cols="60" id="relation_relationText" name="relation_relationText" rows="6"></textarea>
					<input class="input-button" name="commit" value="Add Relation" type="image" src="images/add-relation-button.png" alt="Add Relation"/>
					<table class="table-container">
						<tbody>
							<tr>			
								<td class="italic">Relation1</td>
								<td><a href="http://localhost:3000/delete_creator/66/2">delete</a></td>
							</tr>
							<tr>
								<td class="italic">Relation2</td>
								<td><a href="http://localhost:3000/delete_creator/66/3">delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				</form>

				<div class="large-button-container">				
					<a href="http://localhost:3000/record/10/datauploads"><img src="images/add-data-button.png" width="203" height="57" alt="Add Data"/></a>
					<a href="http://localhost:3000/record/10/review"><img src="images/review-button.png" width="203" height="57" alt="Review"/></a>
				</div>
			</div>
			</div>
		</div> <!-- end content-->
		
	<!-- begin footer-->
		<div id="footer">
	<div id="footer-container" class="shading">
		<div id="terms" ><a href="terms_of_use.html">Terms of Use</a></div>
		<div id="faq-footer" ><a href="faq.html">FAQ</a></div>
		<div id="contact-us" ><a href="contact_us.html">Contact Us</a></div>
		<div id="copyrights">
			<p>DataShare was made possible through a partnership between the California Digital Library, </p>
			<p>UCSF Clinical &amp; Translational Science Institute, and UCSF Library.  &#169; 2013 The Regents of the University of California</p>
		</div>
	</div>
</div>
<!-- end footer -->
<!-- begin footer logos -->    
<div id="footer-logos">
<div id="cdl-logo-sm"><a href="http://www.cdlib.org/"><img src="images/cdl-logo.jpg" width="72" height="26" alt="California Digital Library" title="California Digital Library" /></a></div>
<div id="ucsf-lib"><a href="http://www.library.ucsf.edu/"><img src="images/ucsflib-logo.jpg" width="111" height="27" alt="UCSF library" title="UCSF library" /></a></div>
<div id="ctsi"><a href="http://ctsi.ucsf.edu/"><img src="images/CTSI_logo.png" width="143" height="27" alt="CTSI" title="CTSI" /></a></div>
</div>
<!-- end footer logos --> 
	<!-- end footer-->
	</div> <!-- end inner container -->
  </div> <!-- end outer container -->
</div>
</body>
</html>