<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>Preparing to submit: DataShare - Open data for the global research community</title>
<%= render 'layouts/head' %>
</head>
<body>
<!-- begin page id -->
<div id="prepare-to-submit-page"> 
<!-- begin outer container -->  
  <div id="outer-container"> 
    <!-- begin inner container -->
    <div id="inner-container"> 
       <!-- begin header -->
		<%= render 'layouts/header' %>
	  <!-- end header -->
		<!-- begin navigation-->
			<%= render 'layouts/navigation' %>
		<!--end navigation-->
		
		<!-- begin content -->
		<div id="content"> 	
			<div class="single-column">
				<h1>Upload FAQ</h1>
				<div class="text-container">
						<ul>
							<li>Be sure you have read through and are comfortable with the terms of the <a href="/data_use_agreement">DataShare Data Use Agreement</a></li>
							<li>Ensure that all data relating to human subjects has been properly de-identified</li>
							<li>Ensure data files are the most up-to-date and complete versions</li>
							<li>DataShare accepts all file formats.</li>
							<li>Generally speaking, the data files you upload into DataShare should fall into one of the following types:
								<ul> 
									<li>text</li> 
									<li>spreadsheet (csv, tab-delimited, Excel)</li>
									<li>video</li>
									<li>image</li>
									<li>software code</li>
									<li>pdf</li>
								</ul>
							</li>
							<li>If the data files are of a specialized or proprietary nature, be sure to include any pertinent information that would allow the proper viewing and/or usage of the file(s) either as a separate 'Readme' document within the data set folder, or in the 'Technical Description'.</li>
						</ul>
				</div>
			</div>
		</div> <!-- end content-->
	<!-- begin footer-->
		<%= render 'layouts/footer' %>	<!-- end footer-->
	</div> <!-- end inner container -->
  </div> <!-- end outer container -->
</div>
</body>
</html>