<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8; charset=UTF-8" />
	<title>Dash: Open data for the global research community</title>
	<link rel="stylesheet" href="assets/styles.css" type="text/css" />
	<link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<script type="text/javascript">var less = {env: "development"};</script>
	<script src="assets/js/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script src="assets/js/datashare.js" type="text/javascript"></script>
	<script src="assets/js/clearText.js" type="text/javascript"></script>
	<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-34221926-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>
	<body>
		<div id="terms-of-use">
			<div id="outer-container">
				<div id="inner-container">
					<div class="header">
						<a href="/xtf/search">
							<img src="assets/dash_ucop_logo.png" alt="UCOP Dash logo" height="78" class="your-logo" /></a>
						<br class="clear" />
						<div xmlns:editURL="http://cdlib.org/xtf/editURL" xmlns:session="java:org.cdlib.xtf.xslt.Session" id="nav-home-menu">
							<div id="about-nav" class="menu">
								<a href="/xtf/search?smode=aboutPage">About</a>
							</div>
							<div id="search-nav" class="menu">
								<a href="/xtf/search">Search Data</a></div><div id="publish-nav" class="menu"><a href="/xtf/search?smode=stepsPage">Share Data</a>
							</div>
								<div id="my-datasets-nav" class="menu"><a href="/login">My Datasets</a>
								</div>
							</div>
						</div>
						<div id="content">
							<div id="terms-content">
								<h1>Logged out</h1>
								<div class="text-container">
									<p>You are now logged out of Dash.</p>
								</div>
							</div>
						</div>
						<div id="footer">
			<div id="footer-container" class="shading">
				<div id="terms"><a href="http://www.cdlib.org/about/terms.html">Terms of Use</a></div>
				<div id="faq-footer"><a href="/xtf/search?smode=faqPage" title="Frequently Asked Questions">FAQ</a></div>
				<div id="policies"><a href="/xtf/search?smode=policiesPage">Policies</a></div>
				<div id="contact-us"><a href="/xtf/search?smode=contactPage">Contact Us</a></div>
			</div>
		</div>
		<div id="footer-logos">
			<div id="cdl-logo-sm"><a href="http://www.cdlib.org/"><img src="assets/cdl-logo.jpg" width="72" height="26" alt="California Digital Library" title="California Digital Library" /></a></div>
			<div id="cdl-logo-text">Dash is a service of the University of California Digital Library. Copyright © 2014 The Regents of the University of California</div>
			<div id="local-lib-sm"><a href="http://cdlib.org/uc3/"><img src="assets/uc3.png" width="72" alt="UC Curation Center" title="UC Curation Center" /></a></div>
			<div id="local-lib-text">Dash is a collaborative project between the <a href="http://libraries.universityofcalifornia.edu">UC Libraries</a> and the <a href="http://cdlib.org/uc3">UC Curation Center</a>.</div>
		</div>
	</div>
</div>
</div>
</body>
</html>