<!-- <footer> -->
	<div id="footer">
		<div id="footer-container" class="shading">
			<div id="terms"><a href="http://www.cdlib.org/about/terms.html">Terms of Use</a></div>
			<div id="faq-footer" ><a href="/xtf/search?smode=faqPage" title="Frequently Asked Questions">FAQ</a></div>
			<div id="policies"><a href="/xtf/search?smode=policiesPage">Policies</a></div>
			<!-- <div id="contact-us" ><a href="/xtf/search?smode=contactPage">Contact Us</a></div> -->
			<div id="contact-us"><%= link_to 'Contact Us', contact_path, :title => 'Contact Us' %></div>
		</div>
	</div>

	<div id="footer-logos">
	    <div id="cdl-logo-sm"><a href="http://www.cdlib.org/"> <%= image_tag("cdl-logo.jpg", width: "72", height: "26", alt: "California Digital Library", title: "California Digital Library") %> </a></div>
	    <div id="cdl-logo-text">Dash is a service of the <a href="http://www.cdlib.org/services/uc3/">University of California Curation Center of the California Digital Library</a>. <br>Copyright &#169; 2014 The Regents of the University of California</div>
        <div id="local-lib-sm"><a href="http://cdlib.org/uc3/"> <%= image_tag("uc3.png", width: "72", alt: "UC Curation Center", title: "UC Curation Center") %> </a></div>
        <div id="local-lib-text">Dash is a collaborative project between the <br><a href="http://lib.berkeley.edu">UC Berkeley Library</a> and the <a href="http://cdlib.org/uc3">UC Curation Center</a>.</div>

	</div>

<!-- </footer>  -->
