<!-- <footer> -->
	<div id="footer">
		<div id="footer-container" class="shading">
			<div id="terms"><a href="/xtf/search?smode=termsPage">Terms of Use</a></div>
			<div id="faq-footer" ><a href="/xtf/search?smode=faqPage" title="Frequently Asked Questions">FAQ</a></div>
			<div id="contact-us" ><a href="/xtf/search?smode=contactPage">Contact Us</a></div>
		</div>
	</div>

	<div id="footer-logos">
	    <div id="cdl-logo-sm"><a href="http://www.cdlib.org/"> <%= image_tag("cdl-logo.jpg", width: "72", height: "26", alt: "California Digital Library", title: "California Digital Library") =%>  </a></div>
	    <div id="cdl-logo-text">Dash is a service of the University of California Digital Library. Copyright &#169; 2014 The Regents of the University of California</div>
            <div id="local-lib-sm"><a href="http://cdlib.org/uc3/"> <%= image_tag("uc3.png", width: "72", alt: "UC Curation Center", title: "UC Curation Center") =%> </a></div>
            <div id="local-lib-text">Dash is a collaborative project between the <a href="http://lib.berkeley.edu">UC Berkeley Library</a> and the <a href="http://cdlib.org/uc3">UC Curation Center</a>.</div>

	</div>

<!-- </footer>  -->
