<div id="logo">
	<a href="<%=DATASHARE_CONFIG["datashare_#{campus(@user)}_url"]%>">
		<%= image_tag "dash_#{campus(@user)}_logo.png",  :title => "Dash: Open data for the global research community", :alt => "Dash: Open data for the global research community" %>
	</a> 
</div>
<div id="logout">
	<%# if @user %>
		<div class="logout-text">Logged in as <i><%= user %></i></div>
		<%= link_to (image_tag "logout.gif"), "/logout",  :size => "92x21", :alt => "Logout" %>
	<%# end %> 
</div>
