<div id="logo">
	<a href="<%=DATASHARE_CONFIG["datashare_#{campus(@user)}_url"]%>">
		<%= image_tag "dash_#{campus(@user)}_logo.png",  :title => "Dash: Open data for the global research community", :alt => "Dash: Open data for the global research community" %>
	</a>
</div>
<div id="logout">
	<% if campus(@user) == "cdl" %>
		<p>[UCOP logo goes here]</p>
	<%else%>
		<p><%= image_tag "dash_#{campus(@user)}_logo.png", :size => "120x70",  :title => "Dash: Open data for the global research community", :alt => "Dash: Open data for the global research community" %></p>
	<%end%>
</div>
