<div id="logo">
	
	 <a href="<%=DATASHARE_CONFIG["datashare_cdl_url"]%>">
		<%= image_tag "dash_cdl_logo.png",  
									:title => "Dash: Open data for the global research community", 
									:alt => "Dash: Open data for the global research community" %>
	</a>  

</div>

<div id="logout">

	<%#if @institution%>
	<%if current_user && current_user.institution %>

		<p><%= image_tag "#{current_user.institution.logo}", 
											:title => "Dash: Open data for the global research community", 
											:alt => "Dash: Open data for the global research community" %>
		</p>
	<%else%>
		<%= image_tag "blank_institution_logo.png", :size => "120x70" %>
	<%end%>	

</div>
