
<div id="navbar">

	<nav>
		<ul>
			<li><a href="/xtf/search?smode=aboutPage">About</a></li>
			<li><a href="/xtf/search">Search Data</a></li>
			<li><a href="/xtf/search?smode=stepsPage">Share Data</a></li>
			<li><a href="/records.html">My Datasets</a></li>
		</ul>
	</nav>

	<div id="project_links">
		<ul>
			<%if @institution%>
				<li><%= link_to ("#{@institution.abbreviation} Dash"), ("#{@institution.landing_page}") %></li>
				<li><a href="/logout">Log Out</a></li>
			<%else%>
				<li></li>
				<li></li>
			<%end%>
		</ul>
	</div>

</div>